.header {
    position: absolute;
    padding: 16px 24px 8px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logoLink {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo {
    width: auto;
    height: 24px;
}

@media (max-width: 640px) {
    .header {
        padding: 24px 16px 6px;
    }
}